.slogan {
    width: 100%;

    display: grid;
    grid-template-areas:
        'slog shoe'
        'slog shoe'
        'btn nike';

    .right-one {
        grid-area: slog;

        margin: 0;
    }

    .slogan-btn {
        grid-area: btn;
        margin: 0;
    }

    .big-shoe {
        grid-area: shoe;

        margin: 0;
    }

    .nike {
        grid-area: nike;

        margin: 0;
    }
}