.delete {
    background-color: white;
    border-radius: 20px;
    width: 10vw;
    height: 20vh;
    box-shadow: #ada4a4 1px 1px 3px;
    border: none;
    margin: auto;
}
.redirect {
    background-color: white;
    color: #111827;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 15rem;
}