.btn-items {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #4a8bf6;
    color: white;
}

.slogan-btn {
    background: linear-gradient(90deg, rgba(74, 139, 246, 1) 0%, rgba(31, 60, 141, 1) 100%);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    border: none;
}
.btn-cart {
    background-color: transparent;
    border: none;
}